.footer{
    width: 100%;
    height: 200px;
    padding-top: 44.3px;
}
.footer .container{
    width: 98%;
    height: 100%;
    background-color: rgb(238, 238, 255);
    /*    background-color: rgb(209, 209, 243);
*/
    border-top-left-radius: 100px;
    box-shadow: rgb(238, 238, 255) 0px 1px 8px 0px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: hidden;
    margin-left: auto;
    padding: 20px 40px;
    box-sizing: border-box;
}

.footer .container .logo{
    color: black;
    font-weight: 900;
    font-size: large;
    font-family: 'Assistant';
    transform: scale(1.2);
    text-align: center;
    
}