.navbar{
    width: 100vw;
    justify-content: center;
    display: flex;
    background-color: white;
    position: fixed;
    border-bottom: 0.2px solid rgb(218, 218, 218);
}
.navbar .container{
    display: flex;
    width: 85%;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0px;
}
.navbar .container .logo{
    color: black;
    font-weight: 900;
    font-size: large;
    font-family: 'Assistant';
    transform: scale(1.2);
}

.navbar .container .navigation{
    display: flex;
}

.navigation .link+.link{
    margin-left: 10px;
}




.navigation .link .linkPrimary{
    color: black;
    font-size: 0.74rem;
    font-weight: bolder;
    padding: 5px 10px;
    transition: 0.2s;
}
.navigation .link:hover .linkPrimary{
    color: var(--default);
    -webkit-transform: scale(1.2);
      transform: scale(1.2);
}
/*
.navigation .link .linkPrimary .arrow{
    transform: scale(-1) translate(-7px,-1.5px);
    transition: 0.4s;
    color: black;
}

.navigation .link:hover .arrow{
    transform: scale(1) translate(7px,1.5px);
    color: green;
}
.navigation .dropdown{
    display: flex;
    opacity: 0;
    background: white;
    flex-direction: column;
    position: absolute;
    visibility: hidden;
    width: 150px;
}
.navigation .link:hover .dropdown{
    visibility: visible;
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transform: translateY(3px);
}

.navigation .dropdown .linkSecondary{
    color: black;
    padding: 10px 10px;
    margin-left: 10px;
    text-align: left;
    font-size: 0.9rem;
}
.navigation .link:last-child{
    justify-content: flex-end;
    display: flex;
}

.navigation .link:last-child .dropdown{
    transform: translateY(26px);
}*/
.btn-hireUs{
    color: white;
    padding: 6px 20px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.5s;
    font-size: 0.8rem;
    background-color: var(--default);
    box-shadow: rgba(0, 0, 0, 0.16)  0px 1px 6px 0px;


}
.btn-hireUs:hover{
    transform: scale(1.02);
    box-shadow: var(--default)  0px 1px 6px 0px;
}