.navbar{
    width: 100vw;
    justify-content: center;
    display: flex;
    background-color: rgb(24, 23, 23);
}
.navbar .container{
    display: flex;
    width: 95%;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0px;
}
.navbar .container .logo{
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: large;
    transform: scale(1.2);
}

.navbar .container .navigation{
    display: flex;
}

.navbar .container .navigation .link+.link{
    margin-left: 25px;
}

.navbar .container .navigation .link .linkPrimary{
    color: rgb(255, 255, 255);
    font-size: 0.85rem;
    font-weight: 700;
}

.navbar .container .navigation .link .linkPrimary .arrow{
    transform: rotate(-180deg) translate(-7px,-1.5px);

}

.navbar .container .navigation .link:hover .arrow{
    transform: rotate(0deg) translate(7px,1.5px);
}